# Athlete Sort

In [1]:
nm = input().split()

n = int(nm[0])

m = int(nm[1])

arr = []

for _ in range(n):
    arr.append(list(map(int, input().rstrip().split())))

k = int(input())

5 3
10 2 5
7 1 0
9 9 9
1 23 12
6 5 9
1

In [2]:
nm

['5', '3']

In [22]:
n

5

In [23]:
m

3

In [3]:
arr

[[10, 2, 5], [7, 1, 0], [9, 9, 9], [1, 23, 12], [6, 5, 9]]

In [45]:
arr.sort(key = lambda x: x[k])

In [46]:
for ele in arr:
    print(*ele)

7 1 0
10 2 5
6 5 9
9 9 9
1 23 12

Another method

In [8]:
import numpy as np

In [10]:
np_arr = np.array(arr)
np_arr

array([[10,  2,  5],
       [ 7,  1,  0],
       [ 9,  9,  9],
       [ 1, 23, 12],
       [ 6,  5,  9]])

In [18]:
np_sorted = np_arr[np_arr[:,k].argsort()]

In [20]:
for np_ele in np_sorted:
    print(*np_ele)

7 1 0
10 2 5
6 5 9
9 9 9
1 23 12

Another method

In [9]:
import pandas as pd

In [11]:
df = pd.DataFrame(data = arr)

    0   1   2
0  10   2   5
1   7   1   0
2   9   9   9
3   1  23  12
4   6   5   9

In [21]:
df.sort_values(by=[k],inplace=True)

In [32]:
record = df.to_records(index=False)

In [35]:
for rec in record:
    print(*rec)

7 1 0
10 2 5
6 5 9
9 9 9
1 23 12

# Triangle Quest

In [ ]:
Sample Input
5

In [ ]:
Sample Output
1
22
333
4444

In [31]:
for i in range(1,int(input())): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print ((10**(i-1) + 10**(i-1) //9)*i)

5
1
22
333
4444

# Validating Email Addresses with Filter

In [ ]:
Sample inputs---
3
lara@hackerrank.com
brian-23@hackerrank.com
britts_54@hackerrank.com

Valid email addresses must follow these rules:

1. It must have the username@websitename.extension format type.
2. The username can only contain letters, digits, dashes and underscores [a-z],[A-Z],[0-9],[-,_].
3. The website name can only have letters and digits [a-z],[A-Z],[0-9].
4. The extension can only contain letters [a-z],[A-Z].
5. The maximum length of the extension is 3.

In [1]:
import re

In [59]:
pattern  = "^([a-zA-Z0-9_-])+\@([a-zA-Z0-9])+\.([a-zA-Z]){1,3}$"

In [69]:
if re.findall(pattern, s):
    print(True)

In [ ]:
# Full code
import re

def fun(s):
    # return True if s is a valid email, else return False
    pattern  = "^([a-zA-Z0-9_-])+\@([a-zA-Z0-9])+\.([a-zA-Z]){1,3}$"

    if re.findall(pattern, s):
        return True
    else:
        return False

def filter_mail(emails):
    return list(filter(fun, emails))

if __name__ == '__main__':
    n = int(input())
    emails = []
    for _ in range(n):
        emails.append(input())

filtered_emails = filter_mail(emails)
filtered_emails.sort()
print(filtered_emails)

# The Minion Game

1. Create a code for making all the possible substring 
2. Define the start of the substring ...for ex: if kevin then start with vowel and if stuart start with consonant
3. Calculate the points based on the substring occurence on the main string...i.e if substring occur 2 twice in main string then 2 points
4. Print the winner name and points if draw then print draw
5. Apply constraint on the string length

In [1]:
from itertools import combinations
import re

In [12]:
word = "NANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANANNANAN"

In [13]:
len(word)

5000

In [14]:
word = "BANANA"

In [16]:
vowels = set('AEIOU')
stuart = kevin = 0

for i, c in enumerate(word):
    if c in vowels:
        kevin += len(word) - i
        print(f"kevin ={kevin}")
    else:
        stuart += len(word) - i
        print(f"stuart = {stuart}")
if stuart > kevin:
    print('Stuart', stuart)
elif kevin > stuart:
    print('Kevin', kevin)
else:
    print('Draw')

stuart = 6
kevin =5
stuart = 10
kevin =8
stuart = 12
kevin =9
Stuart 12

In [73]:
if (test_str.isupper()) and (len(test_str)>0 and len(test_str) <=1000000):
    print("yes")

yes

In [74]:
vowel  = ['A','E','I','O','U']

In [75]:
res = (test_str[x:y] for x, y in combinations(
            range(len(test_str) + 1), r = 2))

In [79]:
stuart_words = (x for x in result if x[0] not in vowel)

In [39]:
res = (test_str[x:y] for x, y in combinations(
            range(len(test_str) + 1), r = 2))

In [81]:
kevin_words = (x for x in result if x[0] in vowel)

In [89]:
for word in kevin_words:
    print(word)

In [90]:
# stuart_score = sum([test_str.count(word) for word in stuart_words])

In [83]:
# kevin_score = sum([test_str.count(word) for word in kevin_words])

In [84]:
def overlapping_string(test_str, sub_string):
    pos = 0
    counter = 0
    while(True):
        pos = test_str.find(sub_string,pos)
        if pos > -1:
            counter += 1
            pos += 1
        else:
            return counter

In [85]:
kevin_score = sum((overlapping_string(test_str, word) for word in kevin_words))

TypeError: 'generator' object is not subscriptable

In [86]:
stuart_score  = sum((overlapping_string(test_str, word) for word in stuart_words))

TypeError: 'generator' object is not subscriptable

In [47]:
if stuart_score == kevin_score:
    print("Draw")
elif stuart_score > kevin_score:
    print(f"Stuart {stuart_score}")
else:
    print(f"Kevin {kevin_score}")

Stuart 7501500

In [ ]:
Failed test cases = [4,5,6,8,10,12,13,14]

# Merge the tools

1. Split the string (s) into k equal parts
2. Write a code for removing the duplicate code for each k part
3. Print the each k part

In [105]:
def merge_the_tools(string, k):
    
    if len(string)>= 1 and len(string)<= 10000:
        no_of_str = int(len(string)/k)

        parts = []
        m = 0
        for _ in range(no_of_str):
            parts.append(string[m:m+k])
            m = m + k   

        result = ["".join(list(dict.fromkeys(p))) for p in parts]   # For Ordered Set
        for res in result:
            print(res)
    
if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

ABCCDEF
7
ABCDEF

# Time Delta

In [17]:
import datetime

In [24]:
t1 = "Sun 10 May 2015 13:54:36 -0700"
t2 = "Sun 10 May 2015 13:54:36 -0000"

In [32]:
t1 = "Sat 02 May 2015 19:54:36 +0530"
t2 = "Fri 01 May 2015 13:54:36 -0000"

In [21]:
cur_time = datetime.datetime.now()
cur_time

datetime.datetime(2021, 7, 11, 9, 18, 21, 523118)

In [23]:
cur_time.strftime("%a %d %B %Y %H:%M:%S %z")

'Sun 11 July 2021 09:18:21 '

In [37]:
# full code
import datetime

if __name__ == "__main__":
    
    T  = int(input())
    for _ in range(T):
        t1 = input()
        t2 = input()
        
        t1_obj  = datetime.datetime.strptime(t1,"%a %d %b %Y %H:%M:%S %z")
        t2_obj = datetime.datetime.strptime(t2,"%a %d %b %Y %H:%M:%S %z")
    
        print(int(abs(t1_obj - t2_obj).total_seconds()))

1
Sun 10 May 2015 13:54:36 -0700
Sun 10 May 2015 13:54:36 -0000
25200

# Leap Year

In [16]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year % 4==0:
        if year % 100 ==0:
            if year % 400==0:
                leap = True
        else:
            leap = True
                        
    return leap

year = int(input())
print(is_leap(year))

2022
False

# No Idea!

1. Take the input n(array size) and m(disjoint size)
2. Take the array as input
3. Take the both disjoint set A and B as input
4. check for each element in array if it is in A and then add 1 to happiness if it is in B then subtract 1 from happiness
3. Initial value of happiness is 0
4. Print the final happiness value

In [ ]:
3 2
1 5 3
3 1
5 7

In [116]:
n, m = [int(i) for i in input().split()][:2]

3 2

In [55]:
array = [int(i) for i in input().split()][:n]

1 5 3

In [138]:
A = {int(i) for i in input().split()}
B = {int(i) for i in input().split()}

2 3 4 5 6
4 5

In [149]:
list(A)

[6, 5, 4, 3, 2]

{2, 3, 4, 5, 6}

In [137]:
A

In [120]:
while len(A)!=m:

In [121]:
A

{5, 6}

In [75]:
happiness  = 0
for ele in array:
    if ele in A:
        happiness += 1
    elif ele in B:
        happiness -= 1

In [85]:
print(happiness)

1

In [ ]:
# Full code
n,m = [int(i) for i in input().split()][:2]

array = [int(i) for i in input().split()][:n]

A = {int(i) for i in input().split()}
B = {int(i) for i in input().split()}

happiness  = 0
for ele in array:
    if ele in A:
        happiness += 1
    elif ele in B:
        happiness -= 1        

print(happiness)

# Word Order

In [ ]:
4
bcdef
abcdefg
bcde
bcdef

In [42]:
n = int(input())

4

In [50]:
i=0
words = []
while i!=n:
    words.append(input())
    i +=1

abcdefg
bcde
bcdef
bcdef

In [52]:
print(len(set(words)))

3

In [53]:
from collections import Counter

In [55]:
counts = []
for key, value in Counter(words).items():
    counts.append(value)

In [58]:
print(*counts)

1 1 2

# Company Logo

Sample input
aabbbccde

output
b 3
a 2
c 2

In [67]:
string = input()

qwertyuiopasdfghjklzxcvbnm

In [68]:
from collections import Counter

In [74]:
string = sorted(string)

In [75]:
c=  Counter(string)

In [76]:
c

Counter({'a': 1,
         'b': 1,
         'c': 1,
         'd': 1,
         'e': 1,
         'f': 1,
         'g': 1,
         'h': 1,
         'i': 1,
         'j': 1,
         'k': 1,
         'l': 1,
         'm': 1,
         'n': 1,
         'o': 1,
         'p': 1,
         'q': 1,
         'r': 1,
         's': 1,
         't': 1,
         'u': 1,
         'v': 1,
         'w': 1,
         'x': 1,
         'y': 1,
         'z': 1})

In [77]:
print(c.most_common(3))

[('a', 1), ('b', 1), ('c', 1)]

In [78]:
for value in c.most_common(3):
    print(*value)

a 1
b 1
c 1

# Compress the String!

In [53]:
input
"1222311"

output 

(1, 1) (3, 2) (1, 3) (2, 1)

In [58]:
# full code

import itertools
data = input()
groups = []
uniquekeys = []
for k, g in itertools.groupby(data):
    groups.append(len(list(g)))
    uniquekeys.append(int(k))

print(*list(zip(groups,uniquekeys)))

In [63]:
# for understanding the groupby

groups = []
uniquekeys = []
for k, g in itertools.groupby(data):
    groups.append(list(g))      # Store group iterator as a list
    uniquekeys.append(k)

In [64]:
groups

[['1'], ['2', '2', '2'], ['3'], ['1', '1']]

In [65]:
uniquekeys

['1', '2', '3', '1']

# Iterables and iterators

In [ ]:
Sample input
4 
a a c d
2

In [ ]:
Output 
0.8333

In [1]:
import itertools

In [42]:
n = int(input())

4

In [47]:
string = [i for i in input().split()][:n]

a a c d

In [50]:
k = int(input())

2

In [54]:
x= itertools.combinations("".join(string),k)

In [52]:
# Full code
import itertools

n = int(input())

string = [i for i in input().split()][:n]

k = int(input())

x= itertools.combinations("".join(string),k)

total = 0
count = 0
for i in x:
    total += 1
    if 'a' in i:
        count +=1

print(count/total)

# Triangle Quest 2

In [ ]:
Sample inputs
5

In [ ]:
Sample output
1
121
12321
1234321
123454321

In [88]:
for i in range(1,int(input())+1): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print (((10**i - 1)//9)**2)

5
1
121
12321
1234321
123454321